[Unit]
Description=Caches manager: create system caches
DefaultDependencies=no
Before=systemd-journald.service systemd-tmpfiles-setup.service shutdown.target
Conflicts=shutdown.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=caches-manager --system

[Install]
WantedBy=local-fs.target
