[Unit]
Description=Caches manager: create system caches
DefaultDependencies=no
Before=local-fs.target systemd-journald.service systemd-tmpfiles-setup.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=caches-manager --system

[Install]
WantedBy=sysinit.target
