[Unit]
Description=Caches manager: create user caches
DefaultDependencies=no
Before=systemd-tmpfiles-setup.service

[Service]
Type=oneshot
ExecStart=caches-manager --user

[Install]
WantedBy=basic.target
